* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    margin: 0px;
}

#canvas {
    background-color: black;
}

.btn-1 {
    position: absolute;
    width: 180px;
    height: 80px;
    border: 2px solid white;
    background-color: black;
    color: white;
    text-align: middle;
    font-size: 26px;
    font-family: "Lucida Console", monospace;
}

.btn-1:hover {
    background-color: white;
    color: black;
}